#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-segment-button {
  --indicator-color: #0834a3;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #fff;
  --color-checked: #0834a3;
  --indicator-height: 5px;
}
// ion-segment-button.ios {
//   --color: #fff;
//   --color-checked: #0834a3;
//   --indicator-height: 5px;
// }
/* iOS styles */
ion-segment-button.ios {
  --color: #fff;
  --color-checked: #fff;
  --border-radius: 20px;
}